* {
    font-family: Arial, Helvetica, sans-serif;
}

/*.titolo {
    
}
*/

li {
    list-style: none;
}

#csharp {
    font-size: 30px;
    font-weight: 700;
    border: 0px solid #000000;
    display: flex;
    justify-content: center;
    margin-top: 500px;
    padding: 20px 0;
    background-color: chocolate;
}

.liste {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 0px solid #000000;
    background-color: chartreuse;
    margin: -30px 0 100px 0px;
    padding: 20px 10px 40px 10px;
    flex: 1;
}

